<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Itemes</key>
		<array>
			<string>安徽</string>
		</array>
		<key>title</key>
		<string>A</string>
	</dict>
	<dict>
		<key>Itemes</key>
		<array>
			<string>北京</string>
		</array>
		<key>title</key>
		<string>B</string>
	</dict>
	<dict>
		<key>Itemes</key>
		<array>
			<string>重庆</string>
		</array>
		<key>title</key>
		<string>C</string>
	</dict>
	<dict>
		<key>Itemes</key>
		<array>
			<string>福建</string>
		</array>
		<key>title</key>
		<string>F</string>
	</dict>
	<dict>
		<key>Itemes</key>
		<array>
			<string>广东</string>
			<string>广西</string>
			<string>贵州</string>
			<string>甘肃</string>
		</array>
		<key>title</key>
		<string>G</string>
	</dict>
	<dict>
		<key>Itemes</key>
		<array>
			<string>河北</string>
			<string>黑龙江</string>
			<string>河南</string>
			<string>湖北</string>
			<string>湖南</string>
			<string>海南</string>
		</array>
		<key>title</key>
		<string>H</string>
	</dict>
	<dict>
		<key>Itemes</key>
		<array>
			<string>吉林</string>
			<string>江苏</string>
			<string>江西</string>
		</array>
		<key>title</key>
		<string>J</string>
	</dict>
	<dict>
		<key>Itemes</key>
		<array>
			<string>辽林</string>
		</array>
		<key>title</key>
		<string>L</string>
	</dict>
	<dict>
		<key>Itemes</key>
		<array>
			<string>内蒙古</string>
			<string>宁夏</string>
		</array>
		<key>title</key>
		<string>N</string>
	</dict>
	<dict>
		<key>Itemes</key>
		<array>
			<string>青海</string>
		</array>
		<key>title</key>
		<string>Q</string>
	</dict>
	<dict>
		<key>Itemes</key>
		<array>
			<string>山西</string>
			<string>上海</string>
			<string>山东</string>
			<string>四川</string>
			<string>陕西</string>
		</array>
		<key>title</key>
		<string>S</string>
	</dict>
	<dict>
		<key>Itemes</key>
		<array>
			<string>天津</string>
		</array>
		<key>title</key>
		<string>T</string>
	</dict>
	<dict>
		<key>Itemes</key>
		<array>
			<string>西藏</string>
			<string>新疆</string>
		</array>
		<key>title</key>
		<string>X</string>
	</dict>
	<dict>
		<key>Itemes</key>
		<array>
			<string>云南</string>
		</array>
		<key>title</key>
		<string>Y</string>
	</dict>
	<dict>
		<key>Itemes</key>
		<array>
			<string>浙江</string>
		</array>
		<key>title</key>
		<string>Z</string>
	</dict>
</array>
</plist>
