<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HeaderInfo</key>
	<array>
		<array>
			<array>
				<string>签到领奖</string>
				<string>任意门寻宝</string>
				<string>热卖榜</string>
				<string>新人专享</string>
				<string>朋友圈爆款</string>
			</array>
			<array>
				<string></string>
			</array>
		</array>
		<array>
			<array>
				<string>美容美颜</string>
				<string>排毒瘦身</string>
				<string>美白丰胸</string>
				<string>女性养护</string>
			</array>
			<array/>
		</array>
		<array>
			<array>
				<string>蜜饯果干</string>
				<string>饼干糕点</string>
				<string>膨化食品</string>
				<string>糖巧果冻</string>
				<string>坚果炒货</string>
			</array>
			<array/>
		</array>
		<array>
			<array>
				<string>特色茶饮</string>
				<string>果汁饮料</string>
				<string>谷物冲饮</string>
				<string>缤纷酒水</string>
			</array>
			<array/>
		</array>
		<array>
			<array>
				<string>新鲜水果</string>
				<string>海鲜水产</string>
				<string>猪牛羊肉</string>
				<string>家禽蛋类</string>
			</array>
			<array/>
		</array>
		<array>
			<array>
				<string>粮油干货</string>
				<string>调味素食</string>
				<string>手工美食</string>
				<string>发现好货</string>
			</array>
			<array/>
		</array>
		<array>
			<array>
				<string>大牌奶粉</string>
				<string>宝宝辅食</string>
				<string>儿童保健</string>
				<string>孕妇保健</string>
			</array>
		</array>
	</array>
</dict>
</plist>
